
<div class="container navigation-box text-center">
    <a href="/" class="btn general-content-btn home">Home</a>
    <a href="/courses" class="btn general-content-btn courses">Courses List</a>
    <a href="/students" class="btn general-content-btn students">Students List</a>
</div>
